<mat-sidenav-container fxFill>
  <mat-sidenav class="side-menu" [opened]="true" [mode]="'side'">
    <aside>
      <header>
        <img
          class="side-menu-logo"
          alt="Mobile Worker"
          src="assets/mobile-worker-logo.svg"
        />
      </header>
      <nav>
        <ul class="side-menu-list" fxLayout="column" fxLayoutGap="40px">
          <li
            *ngFor="let entry of mainMenuRoutes"
            [routerLink]="entry.path"
            routerLinkActive="active"
            class="side-menu-link-wrapper"
          >
            <a class="side-menu-list-link">
              {{ entry.title }}
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content fxLayoutAlign="center center">
    <section class="content-section">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
